* {
    margin: 0;
    padding: 0;
    }
    header{
        background-image: url(pozadina2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 10%;
        margin-right: 10%;
        height: 20ex;
        background-color: whitesmoke;
        border-bottom: 2px solid goldenrod;
    }
    p:first-child{
        padding: 10px 5px;
        font-size: x-large;
        margin: 5px 5px 20px 10px;
        color: rgb(77, 66, 37);
    }
    .linkovi{
        display: inline-block;
        height: 30px;
        padding: 5px 5px 0px 5px;
        border: solid 2px goldenrod;
        margin-left: 10px;
    }
    form{
        padding: 10px 5px 20px 5px;
        text-align: center;
        width: 30%;
        height: 20px;
        float: right;
    }
    input{
        height: 30px;
        border: solid 2px goldenrod;
        
    }
    .glavni{
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        padding-bottom: 5ex;
    }
    
    .knjiga{
        float:left; margin:2em;
        height:275px; width:150px;
        padding:1em; border:2px solid gold;
        background-color: blanchedalmond;
    }
    
    .slika{
        width:100%; height:200px; 
        background-size:cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .ime{
        height:50px;
    }
     
    .knjiga .naziv h3{
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
   
    h1{
        font-size: 50px;
        padding-top: 30px;
        color: rgb(77, 66, 37);
        margin-bottom: 50px;
    }
    
    table{
        border: solid 2px goldenrod;
        text-align: center;
        width: 50%;
        margin-left: 25%;
    }
    
    td{
        border: solid 2px goldenrod;
    }
    
    footer{
        float: left;
        height: 5ex;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: whitesmoke;
        font-size: x-large;
        text-align: center;
        padding-top: 30px;
        color: rgb(77, 66, 37);
        border-top: 2px solid gold;
        bottom: 0%;
        position: fixed;
    }